html {
  scroll-behavior: smooth;
}

.button-link {
  border: 2px solid #333;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: white;
}

.lf-logo {
  position: relative;
  top: 20px; /* Moves the image up by 10 pixels from its original position */
}
