:root {
    --col1: #232C33;
    --col2: #EEEEEF;
    --cola: #8a0717;
}

html {
    scroll-behavior: auto;
    scrollbar-color: var(--col2) var(--col1);
    scrollbar-width: thin;
}

body {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    padding: 0;
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
    background-color: var(--col2);
    width: 100%;
}

header {
    display: flex;
    height: 102vh;

    background-image: url(https://images.trvl-media.com/place/178280/a52925ff-8159-46db-8203-2c466dda9df5.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;
    align-items: center;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 102vh;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.25);
    }

    h1 {
        z-index: 2;
        position: relative;
        top: 20px;
        padding: 0;
        margin: 0 25px;
        color: white;
        font-size: 7em;

    }

    h2 {
        z-index: 1;
        position: relative;
        top: 20px;
        padding: 0;
        margin: 0 50px;
        color: white;
        font-size: 4em;
    }

    .button {
        text-align: center;
        margin: 50px 0;
        position: relative;

        a {
            align-self: center;
            text-decoration: none;
            color: white;
            border: white solid 3px;
            font-size: 1.5em;
            border-radius: 5px;
            padding: 10px 20px;
            transition: 0.3s;
            font-weight: bold;

            &:hover {
                padding: 15px 30px;
            }
        }
    }
}

nav {
    position: sticky;
    height: 30px;
    z-index: 10000;
    top: 0;
    background-color: white;
    border-bottom: rgb(100, 100, 100) solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2.5rem;
    overflow: hidden;
    transition: 0.3s;

    a {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-decoration: none;
        color: #111;
        position: relative;
        padding: 0.5rem 0;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 0;
            height: 4px;
            background: var(--cola);
            transition: width 0.3s ease;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;

    h2 {
        font-size: 3em;
        padding: 0;
        margin: 10px 0 20px 0;
        transition: 0.3s;
    }
}

.destination-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 5px;
}

.destination-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: black solid 3px;
    border-radius: 5px;
    box-shadow: 10px 30px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin: 0 0 30px 0;

    img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        object-fit: cover;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
        border: black solid 3px;
    }

    a {
        text-decoration: none;
        padding: 0;
        margin: 0;
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--cola);
        transition: 0.3s;
    }

    p {
        padding: 0;
        font-size: 0.95rem;
        color: #000000;
        line-height: 1.5;
        transition: 0.3s;
    }

    &:hover {
        transform: scale(1.05) translateY(-10px);
        box-shadow: 15px 40px rgba(0, 0, 0, 0.25);
        background-color: var(--cola);

        h3,
        p,
        a {
            color: white;
        }
    }
}

#plan {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.plan-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    border: black 3px solid;
    border-radius: 5px;
    width: 25%;
    height: 350px;
    box-shadow: 10px 30px rgba(0, 0, 0, 0.15);
    transition: 0.3s;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .plan-title {
        text-align: center;
        padding: 10px 10px;
        border-bottom: black 3px solid;
    }

    .plan-cost {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 0;
        width: 100%;
        height: 100%;

        h3 {
            position: absolute;
            bottom: 0;
            align-self: center;
        }

    }

    &:hover {
        background-color: var(--cola);
        transform: scale(1.05) translateY(-10px);
        box-shadow: 15px 40px rgba(0, 0, 0, 0.25);
        color: white;

        .plan-title {
            border-bottom: white 3px solid;
        }
    }
}


.about-hero {
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    overflow: hidden;
    margin: 20px 0;
}

.about-hero.la {
    background-image: url(https://images.trvl-media.com/place/178280/e6dfdcda-fb9f-45a7-ab8a-84f647af20dd.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}

.about-hero.tokyo {
    background-image: url(https://images.trvl-media.com/place/179900/811ddd7d-2a71-4a17-a7c9-b5689d5be120.jpg);
    background-size: cover;
    background-position: center;
}

.about-hero.madrid {
    background-image: url(https://images.trvl-media.com/place/178281/462e798b-26c5-4e3b-9753-983fd2344332.jpg);
    background-size: cover;
    background-position: center;
}

.about-hero.venice {
    background-image: url(https://images.trvl-media.com/place/553248621562150834/e441dbd9-d1fb-4242-a925-2c0ccca773a7.jpg);
    background-size: cover;
    background-position: center;
}

.about-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.about-overlay h3 {
    font-size: 4em;
    margin-bottom: 20px;
}

.about-overlay p {
    font-size: 1.3rem;
    max-width: 800px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.about-overlay ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about-overlay li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

footer {
    background-color: white;
    border-top: rgba(100, 100, 100, 0.248) solid 2px;

    font-weight: 500;
    font-size: 1.2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
            text-decoration: none;
            color: var(--cola);
    }

    .btt {
        text-align: center;
        margin: 10px 0 20px 0;
        position: relative;

        a {
            text-decoration: none;
            color: var(--cola);
            border: #111 solid 3px;
            border-radius: 5px;
            padding: 10px 20px;
            transition: 0.3s;

            &:hover {
                padding: 15px 30px;
            }
        }
    }

}