/* Welcome to CSS! */

html {
    scroll-behavior: smooth;
    background-image: ..assets/background.jpg;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    text-align: center;
}

.hlimiting1 {
    font-size: 4em;
    margin-bottom: 0px;
}

.hlimiting2 {
    margin-top: 0px;
    font-size: 2em;
}

.outdiv {
  position: relative;
  height: 20px;
  background-color: white;
  border: 3px solid red;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 50px 0px;
}

.button-link {
    font-size: 15px;
    border: 6.7px solid #171616;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: #EDC068;
    color: #171616;
    transition: 0.3s;
    text-decoration: none;
}