:root {
    --col1: #232C33;
    --col2: #EEEEEF;
    --cola: #8a0717;
}

html {
    scroll-behavior: auto;
    scrollbar-color: var(--col2) var(--col1);
    scrollbar-width: thin;
}

body {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    padding: 0;
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
    background-color: var(--col2);
    width: 100%;
}

header {
    display: flex;
    height: 102vh;

    background-image: url(https://images.trvl-media.com/place/178280/a52925ff-8159-46db-8203-2c466dda9df5.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;
    align-items: center;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 102vh;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.25);
    }

    h1 {
        z-index: 2;
        position: relative;
        top: 20px;
        padding: 0;
        margin: 0 25px;
        color: white;
        font-size: 7em;

    }

    h2 {
        z-index: 1;
        position: relative;
        top: 20px;
        padding: 0;
        margin: 0 50px;
        color: white;
        font-size: 4em;
    }

    .button {
        text-align: center;
        margin: 50px 0;
        position: relative;
        a {
            align-self: center;
            text-decoration: none;
            color: white;
            border: white solid 3px;
            font-size: 1.5em;
            border-radius: 5px;
            padding: 10px 20px;
            transition: 0.3s;
            font-weight: bold;
            &:hover {
                padding: 15px 30px;
            }
        }
    }
}

nav {
    position: sticky;
    height: 30px;
    z-index: 10000;
    top: 0;
    background-color: white;
    border-bottom: rgb(100, 100, 100) solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2.5rem;
    overflow: hidden;

    a {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-decoration: none;
        color: #111;
        position: relative;
        padding: 0.5rem 0;
        
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 0;
            height: 4px;
            background: var(--cola);
            transition: width 0.3s ease;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

/* Destinations */

#destinations {
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
        font-size: 3em;
        padding: 0;
        margin: 10px 0 20px 0;
        transition: 0.3s;
    }
}

.destination-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 5px;
}

.destination-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: black solid 3px;
    border-radius: 5px;
    box-shadow: 10px 30px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin: 0 0 30px 0;
    img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        object-fit: cover;
        background: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
        border: black solid 3px;
    }
    h3 {
        padding: 0;
        margin: 0;
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--cola);
        transition: 0.3s;
    }

    p {
        padding: 0;
        font-size: 0.95rem;
        color: #000000;
        line-height: 1.5;
        transition: 0.3s;
    }

    &:hover {
        transform: scale(1.05) translateY(-10px);
        box-shadow: 15px 40px rgba(0, 0, 0, 0.25);
        background-color: var(--cola);
        h3, p {
            color: white;
        }
    }
}